{%load staticfiles %}
<head>
	
	<title>Mail</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'mymail/pepper_style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'mymail/bootstrap-theme.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'mymail/bootstrap-social.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'mymail/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'mymail/font-awesome.min.css' %}"/>
    <script type="text/javascript" src="{%static 'mymail/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{%static 'mymail/bootstrap.min.js'%}"></script>
</head>
<script>
// function popitup(url) {
//     newwindow=window.open(url,name,'height=500,width=500,status=no,menubar=0,scrollbars=0,addressbar=0,resizable =0');
//     if (window.focus) {newwindow.focus()}
//     return false;
// }
// </script>
<style>
    
    .vinboxcss:hover{
        background: black;
        color: white;
        cursor: pointer;
        text-decoration: none;
        /*width: 100px;*/

    }
    .vinboxcss:active{
        background: white;
        cursor: pointer;
    }
</style>
<body class="pepper-bg-gray">
    <div class="col-md-12" style="height: 100px;background: white">
        <div class="col-md-6">
        <img src="{% static 'mymail/pepper.jpg' %}" alt="pepper" height="50" width="50"><label style="font-size: xx-large">Mail</label>
    </div>
    <div class="col-md-6">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="col-md-8">
            </div>
            <div class="col-md-4" style="margin-left:60%">
            <div class="col-md-12" id="username-top">Name
            </div>
            <div class="col-md-12" id="logout" style="display:none">
                logout
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class ="col-md-12" style="margin-top:3px">
        <a href="#">{{user_name}}</a>
    </div>
    <div class="col-md-12" style="background: azure;overflow-y:auto">
        <div class="col-md-3" style="height: 600px;background: GhostWhite">
            <div class="col-md-12 vinboxcss" id="vinbox" style="text-align: center;margin-top: 40px" onclick="">
                <!-- <a href="#"  onclick="popupCenter()" style="text-decoration:none"><h2>Compose</h2></a> -->
                <a href="#"  style="text-decoration:none"><h2>Compose</h2></a>
            </div>
            <div class="col-md-12 vinboxcss" id="vinbox2" style="text-align: center;margin-top: 40px" onclick="">
                <a href="/mymail/success/inbox/" style="text-decoration:none"><h2>Inbox</h2></a>
            </div>
            <div class="col-md-12 vinboxcss" style="text-align: center;margin-top: 20px;cursor: pointer" onclick="">
                <a href="/mymail/success/sentmail/" style="text-decoration:none"><h2>Sent Mail</h2></a>  
            </div>
            <div class="col-md-12 vinboxcss" style="text-align: center;margin-top: 20px;cursor: pointer" onclick="">
                <a href="/mymail/success/trash/" style="text-decoration:none"><h2>Trash</h2></a>
            </div>
        </div>
        <!-- <div class="col-"></div> -->
        <div class="col-md-4" id="newmail" style="margin-left:65%;display:none;position:fixed;z-index:999;height:600px;border-width:2px;border-style:solid">
            </div>
        <div class="col-md-9" style="background: Ivory;right:-15px;overflow-y:auto">
            {% block col-md-9 %} {% endblock %}
        </div>
    </div>
</body>

<script>
$(function(){
$("#vinbox").click(function(){
    $("#newmail").slideToggle();
    $("#newmail").load("/mymail/success/new_mail");
});
$("#username-top").click(function(){
    $("#logout").slideToggle();
});

});
</script>
</html>